In [2]:
import numpy as np
import pandas as pd  
from sklearn.model_selection import train_test_split,KFold,cross_val_score, cross_val_predict
from sklearn.svm import SVC    
from sklearn import tree  
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier 
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm

In [3]:
from google.colab import files  #biblioteca utilizada para carregar os dados para o google colab
uploaded = files.upload()

Saving winequality-red (1).csv to winequality-red (1).csv

In [5]:
df=pd.read_csv("winequality-red (1).csv",sep=";")

In [6]:
df.describe()

       fixed acidity  volatile acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [8]:
df.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [9]:
df.shape

(1599, 12)

In [10]:
df[["quality" ,"alcohol"]].corr()

          quality   alcohol
quality  1.000000  0.476166
alcohol  0.476166  1.000000

In [11]:
df["quality"].value_counts()[5]

681

In [12]:
df.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [13]:
df.describe()

       fixed acidity  volatile acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]

In [14]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [15]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
array_scaler = scaler.fit_transform(X)
col = X.columns

In [16]:
df_norm = pd.DataFrame(array_scaler, columns = col)

In [17]:
X_train,X_test,y_train,y_test = train_test_split(df_norm,y,test_size = 0.3, random_state = 1)

In [18]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 5) #Utilizaremos 5 vizinhos mais próximos
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)

In [19]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.5645833333333333

In [20]:
clf_svm=SVC(gamma='auto',kernel='rbf')
clf_svm.fit(X_train,y_train)
y_pred = clf_svm.predict(X_test)

In [21]:
accuracy_score(y_test,y_pred)

0.5854166666666667

In [22]:
clf_floresta = RandomForestClassifier(max_depth = 10, random_state = 1)
clf_floresta.fit(X_train,y_train)
y_pred_floresta = clf_floresta.predict(X_test)
accuracy_score(y_test,y_pred_floresta)

0.6791666666666667

In [23]:
from sklearn.tree import DecisionTreeClassifier
clf_arvore = DecisionTreeClassifier()
clf_arvore.fit(X_train,y_train)
y_arvore_pred = clf_arvore.predict(X_test)
accuracy_score(y_test,y_arvore_pred)

0.6

In [24]:
from sklearn.neural_network import MLPClassifier
clf_mlp = MLPClassifier(alpha = 1e-5,hidden_layer_sizes = (5,5), random_state = 1)
clf_mlp.fit(X_train,y_train)
y_pred_mlp = clf_mlp.predict(X_test)
accuracy_score(y_test,y_pred_mlp)

/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

0.6

In [26]:
#Modifique o dataset para um sistema binário que considere vinhos com nota maior do que 5 (6, 7, 8) sejam bons e menores ou igual a 5 ruins (5, 4, 3).
df_mod= df.copy()
X_mod = df_mod.iloc[:,:11]
y_mod = df_mod.quality.replace({6:1,7:1,8:1,5:0,4:0,3:0})

In [28]:
scaler = MinMaxScaler()
array = scaler.fit_transform(X_mod)
df_new_array = pd.DataFrame(array, columns = X_mod.columns)

In [29]:
X_train,X_test,y_train,y_test = train_test_split(array,y_mod,test_size = 0.3, random_state = 1)

In [30]:
clf_forest_new = RandomForestClassifier(max_depth=10, random_state = 1)
clf_forest_new.fit(X_train,y_train)
y_pred_new_forest = clf_forest_new.predict(X_test)
accuracy_score(y_test,y_pred_new_forest)

0.8041666666666667